/******************************

index.html main stylesheeet

*******************************/



/******************************
	Colors

		Yankee Blue:	#231942
		Purple Navy:	#5E542E
		Plum:					#8F3985
		Persian Pink:	#F686BD
		Slate Grey:		#70798C

*******************************/

	


/******************************
	Fonts
*******************************/

@font-face {
	font-family: "diavlo_book";
	src: 	url("./fonts/diavlo/Diavlo_BOOK_II_37.otf") format("opentype");
}

@font-face {
	font-family: "diavlo_bold";
	src: url("./fonts/diavlo/Diavlo_BOLD_II_37.otf") format("opentype");
}

@font-face {
	font-family: "diavlo_medium";
	src: url("./font/diavlo/Diavlo_MEDIUM_II_37.otf") format("opentype");
}

/******************************
	Base
*******************************/

* {

}

header {
}

body {

}

a {

}

p {

}

h1, h2, h3, h4, h5, h6 {

}

li, ul {

}

li {

}



/******************************
	Hero
*******************************/

.hero {
	font-family: "diavlo_bold";
	background-color: #70798C;
	color: white;
	height: 100px;
	align-items: center;
	display: flex;
}

/******************************

*******************************/

/******************************

*******************************/

/******************************

*******************************/

/******************************

*******************************/

/******************************

*******************************/

/******************************

*******************************/

/******************************

*******************************/